<?xml version="1.0" encoding="utf-8"?>
	<packages>
		<package id="7zip" />
		<package id="googlechrome" />
		<package id="firefox" />
		<package id="qbittorrent" />
		<package id="discord" />
		<package id="vlc" />
		<package id="foobar2000" />
		<package id="freeencoderpack" />
		<package id="audacity" />
		<package id="audacity-lame" />
		<package id="audacity-ffmpeg" />
		<package id="handbrake" />
		<package id="libdvdcss-2" />
		<package id="steam" />
		<package id="steam-cleaner" />
		<package id="keepass" />
		<package id="choco install keepass-plugin-enhancedentryview" />
		<package id="choco install keepass-plugin-qrcodegen" />
		<package id="choco install keepass-plugin-favicon" />
		<package id="choco install keepass-plugin-keepasshttp" />
		<package id="choco install keepass-plugin-qualityhighlighter" />
		<package id="choco install keepass-plugin-passwordcounter" />
		<package id="everything" />
		<package id="gimp" />
		<package id="inkscape" />
		<package id="choco install sharex" />
		<package id="teamviewer" />
		<package id="teracopy" />
		<package id="choco install launchyqt" />
		<package id="choco install windirstat" />
		<package id="python" />
		<package id="notepadplusplus" />
		<package id="putty.install" />
		<package id="" />
		<package id="" />
		<package id="" />
		<package id="" />
		<package id="" />
		<package id="" />
	</packages>