<?xml version="1.0" encoding="utf-8"?>
	<packages>
		<package id="7zip" />
		<package id="googlechrome" />
		<package id="firefox" />
		<package id="qbittorrent" />
		<package id="discord" />
		<package id="vlc" />
		<package id="foobar2000" />
		<package id="freeencoderpack" />
		<package id="audacity" />
		<package id="audacity-lame" />
		<package id="audacity-ffmpeg" />
		<package id="handbrake" />
		<package id="libdvdcss-2" />
		<package id="steam" />
		<package id="steam-cleaner" />
		<package id="keepass" />
		<package id="keepass-plugin-enhancedentryview" />
		<package id="keepass-plugin-qrcodegen" />
		<package id="keepass-plugin-favicon" />
		<package id="keepass-plugin-keepasshttp" />
		<package id="keepass-plugin-qualityhighlighter" />
		<package id="keepass-plugin-passwordcounter" />
		<package id="everything" />
		<package id="gimp" />
		<package id="inkscape" />
		<package id="sharex" />
		<package id="teamviewer" />
		<package id="teracopy" />
		<package id="launchyqt" />
		<package id="windirstat" />
		<package id="python" />
		<package id="notepadplusplus" />
		<package id="putty.install" />
		<package id="slack" />
		<package id="authy-desktop" />
		<package id="googlechrome-authy" />
		<package id="ublockorigin-chrome" />
		<package id="ublockorigin-firefox" />
		<package id="pushbullet-chrome" />
		<package id="epicgameslauncher" />
		<package id="goggalaxy" />
		<package id="windscribe" />
		<package id="github-desktop" />
		<package id="comicrack" />
		<package id="filezilla" />
		<package id="atom" />
		<package id="obs-studio.install" />
		<package id="scribus" />
		<package id="virtualbox" />
		<package id="plex" />
		<package id="paint.net" />
		<package id="" />
		<package id="" />
		<package id="" />
	</packages>